<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NationalPlacesDb" connectionString="Server=7ef82e76-1a14-4e2d-b796-a22b00d35fd4.sqlserver.sequelizer.com;Database=db7ef82e761a144e2db796a22b00d35fd4;User ID=fatmjaboyojrclpu;Password=Q3SzEUghjpVjHCKTq5VLCUn8qnU6mm4FZNvMf3coNcLfNweD2yN6aHe5PSjs8j46;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>